#home{
    height: 100vh;
    width: 100vw;
}

#welcomeText{
    font-size: 32px;
    position: absolute;
    top: 80%;
    left: 45%;
    transition: 0.2s;
    padding: 10px;
    backdrop-filter: blur(10px);
    border-radius: 5px;
}


#welcomeText:hover{
    background-color: RGB(18, 58, 71);
}